name: Deploy Automático Site Wbass
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar código do Lovable
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@
